@define-color   dark          #000;
@define-color   dark-accent   #2A2A2A;
@define-color   light         #F8EDFF;
@define-color   primary       #525CEB;
@define-color   urgent        #B43F3F;

* {
  background: transparent;
  border: none;
  min-height: 0;
  margin: 0;
  padding: 0;
  font-family: "Hasklug Nerd Font Propo";
  font-size: 15px;
  font-weight: bold;
}

#window#waybar {}

tooltip {}

tooltip label {}

#battery,
#custom-notification,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-power {
  transition: all 0.2s ease-in-out;
  background-color: @dark;
  color: @light;
  border: solid 2px @dark-accent;
  border-radius: 10px;
  padding: 0 10px;
  min-width: 15px;
}

/* Hover states */
#battery:hover,
#custom-notification:hover,
#network:hover,
#bluetooth:hover,
#clock:hover,
#custom-power:hover,
#pulseaudio:hover {
  border: solid 2px @light;
}

#workspaces {
  padding: 5px 4px;
  background-color: @dark;
  border: solid 2px @dark-accent;
  border-radius: 10px;
}

#workspaces button {
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  color: @light;
  min-width: 40px;
}

#workspaces button.active {
  background-color: @light;
  color: @dark;
  min-width: 45px;
  margin: 0 5px;
}

#workspaces button:hover {
  min-width: 50px;
  background-size: 400% 400%;
  background-color: @light;
  color: @dark;
}

/* Urgent */
#workspaces button.urgent {
  min-width: 50px;
  background-size: 400% 400%;
  background-color: @urgent;
  color: @dark;
}
